@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

#bodydaftar{
    margin: 10px 0px 0px 0px;
    background-color:#34495e ;
    padding: 20px;
}
#bodydaftar table tr{
    display: inline-block;
}
#bodydaftar img{
    margin: 0px 0px 0px 0px;
}
#infofilm{
    width: 420px;
    float: right;
}
#infofilm p{
    font-size: 13px;
}

#line{
    width: 90%;
    opacity: 0.3;
}

.button{
    margin: 10px 10px 0px 490px;
}
