#container{
    padding: 10px;
}

table{
    width: 100%;
}

table tr th{
    background-color: #222f3e;
}
table tr td{
    color: black;
    background-color: #dfe6e9;
}
table tr th,td{
    padding: 7px;
}
