#daftarfilm{
    width: 50%;
    transform: translate(15px,0px);
    border-radius: 8px;
    padding: 20px;
    margin: 20px 0px 0px 20px;
    color: #ecf0f1;
    font-family: 'Ubuntu', sans-serif;
}
#bodydaftar{
    margin: 10px 0px 0px 0px;
    background-color:#34495e ;
    padding: 20px;
}
#bodydaftar table tr{
    display: inline-block;
}
#bodydaftar img{
    margin: 0px 0px 0px 0px;
}
#infofilm{
    width: 420px;
}
#infofilm p{
    font-size: 15px;
}
