#titlereg{
    background-color: #0984e3;
    text-align: center;
    padding: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
#bodyreg{
    margin: 10px 0px 0px 0px;
    background-color:#34495e ;
    padding: 20px;
}

#formregis h2{
    color: white;
    font-family: 'Ubuntu', sans-serif;
    padding:5px 15px;
    font-size: 25px;
    margin: 0px 0px 10px 0px;
}

#namaInp,#usernameInp,#emailInp,#passwordInp,#notelpInp{
    width: 480px;
    height: 25px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 5px;
    margin: 0px 0px 10px 10px;
}

#alamatlengkapInp{
    width: 620px;
    height: 150px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin: 0px 0px 10px 10px;
    vertical-align: text-top;
}
.button{
    margin: 10px 10px 0px 490px;
}
#buttonDt{
    background-color: #2c3e50;
    color:white;
    border-color:#0fb9b1 ;
    width: 110px;
    padding: 10px;
    border-radius: 10px;
    margin: 15px 20px 0px 195px;
    font-family: 'Ubuntu', sans-serif;
    transition: ease-in 0.2s;
}
#buttonBt{
    background-color: #2c3e50;
    border-color:#0fb9b1 ;
    color: white;
    width: 110px;
    padding: 10px;
    border-radius: 10px;
    font-family: 'Ubuntu', sans-serif;
    transition: ease-in 0.2s;
}
#buttonDt:hover{
    background-color: #0fb9b1;
    font-family: 'Ubuntu', sans-serif;
    color: black;
}
#buttonBt:hover{
    background-color: #e74c3c;
    font-family: 'Ubuntu', sans-serif;
    color: black;
}
