#titlepes{
    background-color: #0984e3;
    text-align: center;
    padding: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
#bodypemesanan{
    margin: 10px 0px 0px 0px;
    background-color:#34495e ;
}

#formregis h2{
    color: white;
    font-family: 'Ubuntu', sans-serif;
    padding:5px 15px;
    font-size: 25px;
    margin: 0px 0px 10px 0px;
}

#namaInp,#emailInp,#judulInp,#jumlahtiketInp,#jumlahharga{
    width: 220px;
    height: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 5px;
    margin: 0px 0px 10px 10px;
}
#jamtayangInp,#hariInp,#kursiInp,#judulfilmInp{
    width: 200px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 5px;
    margin: 0px 0px 20px 10px;
}
#jamtayangInp{
    margin: 0px 0px 0px -30px;
}
#jumlahtiketInp{
    margin: 0px 0px 0px -30px;
}
ul li{
    list-style-type: none;
    display: inline-block;
}
#judulInp,#jumlahharga{
    background-color: white;
}

.button{
    padding: 5px 10px;
    border-radius: 10px;
    margin: -5px 15px 20px 10px;
    background-color: #2c3e50;
    color:white;
    border-color:#0fb9b1 ;
    font-family: 'Ubuntu', sans-serif;
    transition: ease-in 0.2s;
}
.button:hover{
    background-color: #0fb9b1;
    font-family: 'Ubuntu', sans-serif;
    color: black;
}

#displayjamtayang{
    float: right;
}
table{
    margin: 0px 0px 0px 0px;
}
table tr th{
    background-color: #222f3e;
}

table tr td{
    text-align: center;
    background-color: #dfe6e9;
    color: black;
}

#displayjamtayang{
    float: right;
    margin: -450px 70px 0px 0px;
    /* position: fixed;
    transform: translate(400px, -60px); */

}
#displayjamtayang textarea{
    width: 200px;
    text-align: left;
    padding: 10px;
}

#button-end{
    margin: 30px 30px 30px 200px;
}

.button-end,.button-end-h{
    background-color: #2c3e50;
    color:white;
    border-color:#0fb9b1 ;
    width: 110px;
    padding: 10px;
    border-radius: 10px;
    font-family: 'Ubuntu', sans-serif;
    transition: ease-in 0.2s;
}
.button-end:hover{
    background-color: #0fb9b1;
    font-family: 'Ubuntu', sans-serif;
    color: black;
}

.button-end-h:hover{
    background-color: #e74c3c;
    font-family: 'Ubuntu', sans-serif;
    color: black;
}


